@import '+lib/twitter-bootstrap/bootstrap';
@import '+lib/bootstrap-extra';
@import '+lib/font-awesome';

// This file should contain rules that are needed but who's placed remains
// to be determined in the design. It's often easier to add the style and put it
// in the correct place later. :) Best to use this file then misplace rules in
// other files.

body:before {
	background:#FFBABA;
	color:#DB000C;
	border:2px solid #DB000C;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	font-weight:bold;
	left: 40px;
	right: 40px;
    padding: 50px;
    position: fixed;
    top: -2px;
    z-index: 10000000;
}

body {
	padding-top: 10px;
	overflow-y: scroll;
}

.errors {
	
	color: #e31;
	padding: 0;
	margin: 0;
	

	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

:focus {
	outline:0
}

.xdebug-var-dump {
	margin: 10px;
}